matplotlib
numpy
graphviz
torch

mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
mkdocs-git-revision-date-localized-plugin
pymdown-extensions
regex
tiktoken
tokenizers
chardet
huggingface_hub
datasets
transformers
# for plotting in ubuntu
#pyside2